#hero {
    background: black;
}

.body {
    background: #6F5CF3;
}

.img {
    padding-right: 550px;
}

.nav-item {
    padding-right: 50px;
}

.img1 {
    border-radius: 300px;
    z-index: 100;
}

.square {
    position: absolute;
    z-index: 0;
    height: 600px;
    width: 350px;
    border-radius: 500px;
    background-color: #ADA3F4;
    top: 120;
    left: 50px;
}
.contaner-w {
    margin: 0 150px;
}
